footer {
    background: $background-color;
    min-height: 10vh;
    padding: 0% 5%;
    color: white;
    @include flex(flex-start, center, row);
        
    ul {
      flex: 1 1 40rem;
      @include flex(space-around, center, row);
    }
    h3 {
      flex: 1 1 40rem;
    }
}